/* Contact.css */

/* Create a flex container for the row */
.contact-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

/* Add margin to the logo for spacing */
.logo {
  height: 50vh; /* Set the height to 50% of the viewport height */
  margin-right: 10px;
}

.custom-form {
  flex: 1; /* Take up remaining space */
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form .form-control {
  border-radius: 0;
}

.custom-form button {
  border-radius: 0;
}

.custom-form button:hover {
  background-color: #0056b3;
}
